	<!-- Loading bar -->
	<fuse-loading-bar></fuse-loading-bar>
	<!-- Navigation -->
	<fuse-vertical-navigation
		class="dark bg-gray-900 print:hidden"
		[mode]="isScreenSmall ? 'over' : 'side'"
		[name]="'mainNavigation'"
		[navigation]="navigation.default"
		[opened]="!isScreenSmall">
		<!-- Navigation header hook -->
		<ng-container fuseVerticalNavigationContentHeader>
			<div class="flex items-center w-full p-4 pl-6">
				<!-- Logo -->
				<div class="flex items-center justify-center">
					<img
						class="w-8"
						src="assets/images/logo/logo.svg">
				</div>
				<!-- Components -->
				<div class="flex items-center ml-auto">
					<notifications></notifications>
					<user [showAvatar]="false"></user>
				</div>
			</div>
			<!-- User -->
			<div class="flex flex-col items-center w-full p-4">
				<div class="relative w-24 h-24">
					<img
						class="w-full h-full rounded-full"
						*ngIf="user.avatar"
						[src]="user.avatar"
						alt="User avatar">
					<mat-icon
						class="icon-size-24"
						*ngIf="!user.avatar"
						[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
				</div>
				<div class="flex flex-col items-center justify-center w-full mt-6">
					<div class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden text-center leading-normal font-medium">
						{{user.name}}
					</div>
					<div class="w-full mt-0.5 whitespace-nowrap overflow-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
						{{user.email}}
					</div>
				</div>
			</div>
		</ng-container>
		<!-- Navigation footer hook -->
		<ng-container fuseVerticalNavigationContentFooter>
			<div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12">
				<img
					class="max-w-36"
					src="assets/images/logo/logo-text-on-dark.svg">
			</div>
		</ng-container>
	</fuse-vertical-navigation>

	<div class="flex flex-col flex-auto min-w-0">
	<!--- THIS IS MOVED INSIDE THE MAIN SECTION AFTER THE FIRST LINE -->
	<div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
		<!-- Navigation toggle button -->
		<button
			mat-icon-button
			(click)="toggleNavigation('mainNavigation')">
			<mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
		</button>
		<!-- Components -->
		<div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
			<languages></languages>
			<fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
			<search [appearance]="'bar'"></search>
			<shortcuts></shortcuts>
			<messages></messages>
		</div>
	</div>
	<!--- THIS IS MOVED INSIDE THE MAIN SECTION AFTER THE FIRST LINE -->
		<!-- Header -->
		<div class="col-xl-7">
			<div style="margin-top: 10px !important; margin-left: 20px !important;">
				<a class="inline-flex items-center leading-6 text-primary hover:underline" [routerLink]="['/dashboard']"><span class="inline-flex items-center"><mat-icon role="img" class="mat-icon notranslate icon-size-5 text-current mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="arrow-sm-left" data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
					<path fill-rule="evenodd" d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
				</svg></mat-icon><span class="ml-1.5 font-medium leading-5">Back to Dashboard</span></span></a>
			</div>
		</div>
		<!-- Main -->
		<div class="row p-3">
	<!--    <div class="flex-auto p-6 sm:p-10"> -->
		<div class="col-xl-5">
	<!--       <div class="max-w-3xl"> -->
				<div class="prose prose-sm max-w-3xl">
					<h2>Please Enter Existing Insurance Coverage</h2>
				</div>
				<form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
					<div class="flex flex-col gt-xs:flex-row">
                        <mat-form-field 
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pr-3">
                        <mat-label>Do you currently have existing insurance?</mat-label>
                        <mat-select  id="has_existing_insurance" name="has_existing_insurance" [(ngModel)]="data.formData['has_existing_insurance']">
                            <mat-option value="">-- Please Select --</mat-option>
                            <mat-option value="0">No</mat-option>
                            <mat-option value="1">Yes</mat-option>
                        </mat-select>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    </mat-form-field>
                    <mat-form-field 
                    [ngClass]="formFieldHelpers"
                    class="flex-auto gt-xs:pr-3">
                    <mat-label>Is COBRA currently available to you?</mat-label>
                    <mat-select  id="is_cobra_covered" name="is_cobra_covered" [(ngModel)]="data.formData['is_cobra_covered']">
                        <mat-option value="">-- Please Select --</mat-option>
                        <mat-option value="0">No</mat-option>
                        <mat-option value="1">Yes</mat-option>
                    </mat-select>
                    <mat-icon
                        class="icon-size-5"
                        matPrefix
                        [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                </mat-form-field>
                <mat-form-field 
                [ngClass]="formFieldHelpers"
                class="flex-auto gt-xs:pr-3">
                <mat-label>Do you have additional insurance coverage?</mat-label>
                <mat-select  id="has_additional_insurance_coverage" name="has_additional_insurance_coverage" [(ngModel)]="data.formData['has_additional_insurance_coverage']">
                    <mat-option value="">-- Please Select --</mat-option>
                    <mat-option value="0">No</mat-option>
                    <mat-option value="1">Yes</mat-option>
                </mat-select>
                <mat-icon
                    class="icon-size-5"
                    matPrefix
                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
            </mat-form-field>
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pr-3">
							<mat-label>Date of Termination</mat-label>
							<input matInput id="date_of_termination" name="date_of_termination" [(ngModel)]="data.formData['date_of_termination']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pl-3">
							<mat-label>Most Recent Month Paid</mat-label>
							<input matInput id="most_recent_month_paid" name="most_recent_month_paid" [(ngModel)]="data.formData['most_recent_month_paid']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="flex flex-col gt-xs:flex-row">
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pr-3">
							<mat-label>Number of Months eligible</mat-label>
							<input matInput id="number_of_months_eligible" name="number_of_months_eligible" [(ngModel)]="data.formData['number_of_months_eligible']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pl-3">
							<mat-label>Insurance Company Name</mat-label>
							<input matInput id="insurance_company_name" name="insurance_company_name" [(ngModel)]="data.formData['insurance_company_name']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
						<button [routerLink]="['/dashboard']" mat-button>
							Cancel
						</button>
						<button
							class="px-6 ml-3"
							mat-flat-button
							[color]="'primary'" (click)="postForm()">
							Save
						</button>
					</div> 
                    
	</form>
	</div>
	<div class="col-xl-5">

	</div>
	</div>
