<fuse-loading-bar></fuse-loading-bar>
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall">
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <div class="flex items-center justify-center">
                <img
                    class="w-8"
                    src="assets/images/logo/logo.svg">
            </div>
            <div class="flex items-center ml-auto">
                <notifications></notifications>
                <user [showAvatar]="false"></user>
            </div>
        </div>
        <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24">
                <img
                    class="w-full h-full rounded-full"
                    *ngIf="user.avatar"
                    [src]="user.avatar"
                    alt="User avatar">
                <mat-icon
                    class="icon-size-24"
                    *ngIf="!user.avatar"
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-6">
                <div class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden text-center leading-normal font-medium">
                    {{user.name}}
                </div>
                <div class="w-full mt-0.5 whitespace-nowrap overflow-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                    {{user.email}}
                </div>
            </div>
        </div>
    </ng-container>
    <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12">
            <img
                class="max-w-36"
                src="assets/images/logo/logo-text-on-dark.svg">
        </div>
    </ng-container>
</fuse-vertical-navigation>
<div class="flex flex-col flex-auto min-w-0">
<div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
     <button
        mat-icon-button
        (click)="toggleNavigation('mainNavigation')">
        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
    </button>
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
        <languages></languages>
        <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
        <search [appearance]="'bar'"></search>
        <shortcuts></shortcuts>
        <messages></messages>
    </div>
</div>
<div class="flex flex-col flex-auto">
    <div class="col-xl-7">
        <div style="margin-top: 10px !important; margin-left: 20px !important;">
            <a class="inline-flex items-center leading-6 text-primary hover:underline" [routerLink]="['/dashboard']"><span class="inline-flex items-center"><mat-icon role="img" class="mat-icon notranslate icon-size-5 text-current mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="arrow-sm-left" data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
                <path fill-rule="evenodd" d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
            </svg></mat-icon><span class="ml-1.5 font-medium leading-5">Back to Dashboard</span></span></a>
        </div>
    </div>
     <div class="row p-3">
    <div class="col-xl-6">
            <div class="prose prose-sm max-w-3xl">
                <h2>Please Enter Medications for yourself and your family.</h2>
            </div>
            <div *ngFor="let m of data.medication" class="card card-body"  style="margin-top:20px;">
                <div class="table-responsive">
                    <h2 class="h2" style="font-size: 24px;">{{ m.family_member_name }}</h2>
                    <table class="table table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>
                                    Medication
                                </th>
                                <th>
                                    {{ m.medication }}
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    Start Date
                                </th>
                                <td>
                                    {{ m.start_date }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Frequency
                                </th>
                                <td>
                                    {{ m.frequency }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Dose
                                </th>
                                <td>
                                    {{ m.dose }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Reason
                                </th>
                                <td>
                                    {{ m.reason }}
                                </td>
                            </tr>
                            <tr>
                                <th>
                                    Family Member
                                </th>
                                <td>
                                    {{ m.family_member_name }}
                                </td>
                            </tr>
                            <tr>
                                <th></th>
                                <td>
                                    <button (click)="edit(m.id,m.medication,m.start_date,m.frequency,m.dose,m.reason,m.family_member)" class="btn btn-primary">View/Edit</button>
                                </td>     
                            </tr>
                        </tbody>
                    </table>
                    
                 </div>
            </div>
            <button  *ngIf="addF=='N'" (click)="addFamily()" class="btn btn-primary">Add / Edit Medications</button>
            <div *ngIf="addF=='Y'">
                <div class="card card-body">
                    <div class="row">
                        <h2 class="h2" style="font-size: 24px;">Add Medication</h2>
                    </div>
                    <form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field
                                [ngClass]="formFieldHelpers"
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Medication</mat-label>
                                <input matInput id="medication" name="medication" [(ngModel)]="data.formData['medication']">
                                <mat-icon
                                    class="icon-size-5"
                                    matSuffix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field
                                [ngClass]="formFieldHelpers"
                                class="flex-auto gt-xs:pl-3">
                                <mat-label>Start Date</mat-label>
                                <input matInput id="start_date" name="start_date" [(ngModel)]="data.formData['start_date']">
                                <mat-icon
                                    class="icon-size-5"
                                    matSuffix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex flex-col gt-xs:flex-row">
                            <mat-form-field
                                [ngClass]="formFieldHelpers"
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Frequency</mat-label>
                                <input matInput id="frequency" name="frequency" [(ngModel)]="data.formData['frequency']">
                                <mat-icon
                                    class="icon-size-5"
                                    matSuffix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field
                                [ngClass]="formFieldHelpers"
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Dose</mat-label>
                                <input matInput id="dose" name="dose" [(ngModel)]="data.formData['dose']">
                                <mat-icon
                                    class="icon-size-5"
                                    matSuffix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field
                                [ngClass]="formFieldHelpers"
                                class="flex-auto gt-xs:pr-3">
                                <mat-label>Reason</mat-label>
                                <input matInput id="reason" name="reason" [(ngModel)]="data.formData['reason']">
                                <mat-icon
                                    class="icon-size-5"
                                    matSuffix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field
                                [ngClass]="formFieldHelpers"
                                class="flex-auto gt-xs:pl-3">
                                <mat-label>Family Member</mat-label>
                                <mat-select  id="family_member" name="family_member" [(ngModel)]="data.formData['family_member']">
                                    <mat-option value="0">Self</mat-option>
                                    <mat-option *ngFor="let m of data.family" value="{{ m.id }}">{{ m.first_name }} {{ m.middle_name }} {{ m.last_name }}</mat-option>
                                </mat-select>
                                <mat-icon
                                    class="icon-size-5"
                                    matSuffix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                            <button (click)="addFamily()" mat-button>
                                Cancel
                            </button>
                            <button
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'primary'" (click)="postForm()">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>            
</div>
<div class="col-xl-5">

</div>
</div>
</div>
</div>