<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>
<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <!-- Logo -->
            <div class="flex items-center justify-center">
                <img
                    class="w-8"
                    src="assets/images/logo/logo.svg">
            </div>
            <!-- Components -->
            <div class="flex items-center ml-auto">
                <notifications></notifications>
                <user [showAvatar]="false"></user>
            </div>
        </div>
        <!-- User -->
        <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24">
                <img
                    class="w-full h-full rounded-full"
                    *ngIf="user.avatar"
                    [src]="user.avatar"
                    alt="User avatar">
                <mat-icon
                    class="icon-size-24"
                    *ngIf="!user.avatar"
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-6">
                <div class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden text-center leading-normal font-medium">
                    {{user.name}}
                </div>
                <div class="w-full mt-0.5 whitespace-nowrap overflow-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                    {{user.email}}
                </div>
            </div>
        </div>
    </ng-container>
    <!-- Navigation footer hook -->
    <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12">
            <img
                class="max-w-36"
                src="assets/images/logo/logo-text-on-dark.svg">
        </div>
    </ng-container>
</fuse-vertical-navigation>

<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>
<!--- THIS IS MOVED INSIDE THE MAIN SECTION AFTER THE FIRST LINE -->
<div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
    <!-- Navigation toggle button -->
    <button
        mat-icon-button
        (click)="toggleNavigation('mainNavigation')">
        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
    </button>
    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
        <languages></languages>
        <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
        <search [appearance]="'bar'"></search>
        <shortcuts></shortcuts>
        <messages></messages>
    </div>
</div>
    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark" style="padding-bottom: 20px;">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center" style="margin-top: 40px;">
            <h2 class="text-xl font-semibold">Plan Dashboard</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                {{ data.plan_name }}
            </div>
            <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                {{ data.plan_sub_name }}
            </div>
        </div>
    </div>

    <!-- Main -->

<div class="container-fluid p-5" style="margin-top: 30px;">
    <div class="row">
        <div class="col-xl-2">
            Hello
        </div>
        <div class="col-md-12 col-xl-3">
            <div class="card card-body">            
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" [routerLink]="['/edit-plan',data.id]">Edit Plan</button>
                    </div>
                </div>
                <div class="row">
                                    <div class="col-12">
                </div>
                </div>
            <div class="row">
                <div class="table table-responsive">
                    <thead>
                
                    </thead>
                    <tbody>
                        <tr>
                            <th>&nbsp;</th>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <th>ID:</th>
                            <td>{{ data.plan_id }}</td>
                        </tr>
                        <tr>
                            <th>Plan Name:</th>
                            <td>{{ data.plan_name }}</td>
                        </tr>
                        <tr>
                            <th>Plan Sub Name:</th>
                            <td>{{ data.plan_sub_name }}</td>
                        </tr>
                        <tr>
                            <th>Single Base Rate:</th>
                            <td>{{ data.single_base_rate }}</td>
                        </tr>
                        <tr>
                            <th>Spouse Base Rate:</th>
                            <td>{{ data.spouse_base_rate }}</td>
                        </tr>
                        <tr>
                            <th>Family Base Rate:</th>
                            <td>{{ data.family_base_rate }}</td>
                        </tr>
                        <tr>
                            <th>Display Order:</th>
                            <td>{{ data.order_id }}</td>
                        </tr>
                        <tr>
                            <th>Description:</th>
                            <td>{{ data.dsc }}</td>
                        </tr>
                    </tbody>
                </div>
            </div>
                                </div>
        </div>
        <div class="col-md-12 col-xl-7">
<div class="card card-body">
    <div class="table-responsive">
        <h2 class="h2" style="font-size: 24px;">Quotes including this Plan</h2>
        <table class="table table-responsive table-striped">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Quote Name
                    </th>
                    <th>
                        Exipres
                    </th>
                    <th>
                        Medical
                    </th>
                    <th>
                        Dental
                    </th>
                    <th>
                        Vision
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
    
                    </th>
                </tr>
            </thead>
            <tbody>
    <tr *ngFor="let m of data.quotes |  paginate: { currentPage: p , itemsPerPage: 25}">
        <td>
            {{ m.quote_id }}
        </td>
        <td>
            {{ m.quote_name }}
        </td>
        <td>
            {{ m.date_expires }}
        </td>
        <td>
            {{ m.medical }}
        </td>
        <td>
            {{ m.dental }}
        </td>
        <td>
            {{ m.vision }}
        </td>
        <td>
            {{ m.status }}
        </td>
        <th>
            <button [routerLink]="['/quote-request-dashboard',m.id]" class="btn btn-primary">View/Edit</button>
        </th>
    </tr>
            </tbody>
        </table>
     </div>
</div>
        </div>
    </div>
</div>
</div>
