<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>
<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <!-- Logo -->
            <div class="flex items-center justify-center">
                <img
                    class="w-8"
                    src="assets/images/logo/logo.svg">
            </div>
            <!-- Components -->
            <div class="flex items-center ml-auto">
                <notifications></notifications>
                <user [showAvatar]="false"></user>
            </div>
        </div>
        <!-- User -->
        <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24">
                <img
                    class="w-full h-full rounded-full"
                    *ngIf="user.avatar"
                    [src]="user.avatar"
                    alt="User avatar">
                <mat-icon
                    class="icon-size-24"
                    *ngIf="!user.avatar"
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-6">
                <div class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden text-center leading-normal font-medium">
                    {{user.name}}
                </div>
                <div class="w-full mt-0.5 whitespace-nowrap overflow-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                    {{user.email}}
                </div>
            </div>
        </div>
    </ng-container>
    <!-- Navigation footer hook -->
    <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12">
            <img
                class="max-w-36"
                src="assets/images/logo/logo-text-on-dark.svg">
        </div>
    </ng-container>
</fuse-vertical-navigation>

<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>
<!--- THIS IS MOVED INSIDE THE MAIN SECTION AFTER THE FIRST LINE -->
<div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
    <!-- Navigation toggle button -->
    <button
        mat-icon-button
        (click)="toggleNavigation('mainNavigation')">
        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
    </button>
    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
        <languages></languages>
        <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
        <search [appearance]="'bar'"></search>
        <shortcuts></shortcuts>
        <messages></messages>
    </div>
</div>
    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark" style="padding-bottom: 20px !important; padding-top: 20px !important;">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center" style="margin-top: 40px;">
            <h2 class="text-xl font-semibold">Quote Request Dashboard</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                {{ data.company['company_name'] }}
            </div>
            <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                {{ data.quote['quote_name'] }}
            </div>
        </div>
    </div>

    <!-- Main -->

<div class="container-fluid p-5" style="margin-top: 30px;">
    <div class="row">
        <div class="col-xl-2">
         </div>
    </div>
    <div class="row">
        <div class="col-xl-2">
           
        </div>
        <div class="col-xl-10">
                <div class="row">
                    <div class="col-md-12 col-xl-4">
                        <button mat-button [routerLink]="['/company-dashboard',data.formData.company_id]">Go Back</button>

                        <div class="card card-body">            
                        <div class="row">
                            <div class="table table-responsive">
                                <thead>
                            
                                </thead>
                                <tbody>                                   
                                    <tr>
                                        <th>

                                        </th>
                                        <th>
                                            <span *ngIf="(data.user.role=='sadmin'||data.user.role=='user')&&data.plans.length==0">
                                                <button class="btn btn-primary" (click)="make()">Make Plans</button>
                                            </span>
                                            <span *ngIf="(data.user.role=='badmin'||data.user.role=='broker')&&data.quote['status']=='New'">
                                                <button class="btn btn-danger" (click)="submit()">Submit Quote Request</button>
                                            </span>
                                            <span *ngIf="(data.user.role=='badmin'||data.user.role=='broker')&&data.quote['status']!='New'">
                                                Quote Submitted at {{ data.quote['date_sent'] }}
                                            </span>
                                            <span *ngIf="(data.user.role=='sadmin'||data.user.role=='user')&&data.plans.length>0">
                                                <button class="btn btn-danger" (click)="edit()">Send Quote</button>
                                            </span>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th>ID:</th>
                                        <td>{{ data['quote'].id }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Quote ID:</th>
                                        <td>{{ data['quote'].quote_key }}</td>
                                    </tr>
                                    <tr>
                                        <th>Name:</th>
                                        <td>
                                            <span *ngIf="editQ=='N'">{{ data['quote'].name }}</span>
                                            <span *ngIf="editQ=='Y'"><input type="text" class="form-control" id="name" name="name" style="width:200px;"
                                                      [(ngModel)]="data['formData'].name"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Timestamp:</th>
                                        <td>{{ data['quote'].create_timestamp }}</td>
                                    </tr>
                                    <tr>
                                        <th>Contact Name:</th>
                                        <td>
                                            <span *ngIf="editQ=='N'">{{ data['quote'].contact_name }}</span>
                                            <span *ngIf="editQ=='Y'"><input type="text" class="form-control" id="contact_name" name="contact_name" style="width:200px;"
                                                      [(ngModel)]="data['formData'].contact_name"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Contact Email:</th>
                                        <td>
                                            <span *ngIf="editQ=='N'">{{ data['quote'].contact_email }}</span>
                                            <span *ngIf="editQ=='Y'"><input type="text" class="form-control" id="contact_email" name="contact_email" style="width:200px;"
                                                      [(ngModel)]="data['formData'].contact_email"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Contact Phone:</th>
                                        <td>
                                            <span *ngIf="editQ=='N'">{{ data['quote'].contact_phone }}</span>
                                            <span *ngIf="editQ=='Y'"><input type="text" class="form-control" id="contact_phone" name="contact_phone" style="width:200px;"
                                                      [(ngModel)]="data['formData'].contact_phone"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Employee Count:</th>
                                        <td><span *ngIf="editQ=='N'">{{ data['quote'].employee_count }}</span>
                                            <span *ngIf="editQ=='Y'">
                                                <select class="form-control" id="employee_count" name="employee_count" style="width:200px;"
                                                [(ngModel)]="data['formData'].employee_count">
                                                <option value="0-10">0-10</option>
                                                <option value="11-50">11-50</option>
                                                <option value="51-100">51-100</option>
                                                <option value="Over 100">Over 100</option>
                                                </select>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Include Medical:</th>
                                        <td><span *ngIf="editQ=='N'">{{ data['quote'].medical }}</span>
                                            <span *ngIf="editQ=='Y'">
                                                <select class="form-control" id="medical" name="medical" style="width:200px;"
                                                [(ngModel)]="data['formData'].medical">
                                                <option value="N">No</option>
                                                <option value="Y">Yes</option>
                                                </select>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Include Dental:</th>
                                        <td><span *ngIf="editQ=='N'">{{ data['quote'].dental }}</span>
                                            <span *ngIf="editQ=='Y'">
                                                <select class="form-control" id="dental" name="dental" style="width:200px;"
                                                [(ngModel)]="data['formData'].dental">
                                                <option value="N">No</option>
                                                <option value="Y">Yes</option>
                                                </select>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Include Vision:</th>
                                        <td><span *ngIf="editQ=='N'">{{ data['quote'].vision }}</span>
                                            <span *ngIf="editQ=='Y'">
                                                <select class="form-control" id="vision" name="vision" style="width:200px;"
                                                [(ngModel)]="data['formData'].vision">
                                                <option value="N">No</option>
                                                <option value="Y">Yes</option>
                                                </select>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Requested By:</th>
                                        <td>{{ data['quote'].requested_by }}</td>
                                    </tr>
                                    <tr>
                                        <th>Expires:</th>
                                        <td>
                                            <span *ngIf="editQ=='N'">{{ data['quote'].expires_date }}</span>
                                            <span *ngIf="editQ=='Y'"><input type="text" class="form-control" id="expires_date" name="expires_date" style="width:200px;"
                                                      [(ngModel)]="data['formData'].expires_date"></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Status:</th>
                                        <td><span *ngIf="editQ=='N'">{{ data['quote'].status }}</span>
                                            <span *ngIf="editQ=='Y'">
                                                <select class="form-control" id="status" name="status" style="width:200px;"
                                                [(ngModel)]="data['formData'].status">
                                                <option value="New">New - Not Submitted</option>
                                                <option value="Requested">Requested</option>
                                                <option value="In-Quoting">In Quoting</option>
                                                <option value="Quoted">Quoted</option>
                                                <option value="Accepted">Accepted</option>
                                                <option value="Rejected">Rejected</option>
                                                <option value="Cancelled">Cancelled</option>
                                                <option value="Enrolling">Enrolling</option>
                                                <option value="Active">Active</option>
                                                </select>
                                            </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th>Note:</th>
                                        <td>
                                            <span *ngIf="editQ=='N'">{{ data['quote'].notes }}</span>
                                            <span *ngIf="editQ=='Y'"><textarea rows="5" type="text" class="form-control" id="notes" name="notes" style="width:200px;"
                                                      [(ngModel)]="data['formData'].notes">
                                                    </textarea>
                                                    </span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th></th>
                                        <td>
                                            <span *ngIf="editQ=='Y'">
                                                <button class="btn btn-primary" (click)="postForm()">Save Quote</button>
                                                <button style="margin-left:20px;" class="btn" (click)="edit()">Cancel</button>
                                            </span>
                                            <span *ngIf="editQ=='N'">
                                                <button class="btn btn-primary" (click)="edit()">Edit Quote</button>
                                            </span>
                                        </td>
                                    </tr>
                                </tbody>
                            </div>
                        </div>
                                            </div>
                    </div>
                    <div class="col-xl-5">
                        <div class="card card-body"> 
                        <div class="table-responsive">
                            <h2 style="font-size: 24px;">Quoted Employees</h2>
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Full Name</th>
                                        <th>Gender</th>
                                        <th>Date of Birth</th>
                                        <th>Date of Hire</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let m of data.employees">
                                        <td>{{ m.last_name}}, {{ m.first_name }} {{ m.middle_name }}</td>
                                        <td>{{ m.gender }}</td>
                                        <td>{{ m.date_of_birth }}</td>
                                        <td>{{ m.date_of_hire }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> 
                        </div>
                    </div>
                </div>               
        </div>
    </div>
    <div class="card card-body">
        <div class="row">
            <div class="col-xl-2"></div>
            <div class="col-xl-10">
                <div class="row">
            <div class="col-xl-4" *ngFor="let m of data.plans">
                <div class="card card-body"  style="margin-top:20px;" [ngStyle]="{'background-color':data.colForm['omitted_'+m.id] === 'Y' ? '#FCE5EB' : '#C1F1C3' }" >
                    <div class="table-responsive">
                        <h2 class="h2" style="font-size: 24px;">{{ m.name }} 
                         <span>
                            
                        </span>
                         </h2>
                        <table class="table table-responsive table-striped">
                            <thead>
                            </thead>
                            <tbody>
                                <tr>
                                    <th>
                                        Type 
                                    </th>
                                    <td>
                                        {{ m.plan_type }}
                                    </td>
                                </tr>  
                                <tr>
                                    <th>
                                        Plan
                                    </th>
                                    <td>
                                        {{ m.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        Include Plan in Quote
                                    </th>
                                    <td>
                                        <select
                                        style="max-width: 200px;" 
                                        type="text" 
                                        class="form-control" 
                                        id="contribution_level_id" 
                                        name="contribution_level_id" 
                                        [(ngModel)]="data.colForm['omitted_'+m.id]">
                                        <option value="Y">DO NOT Include Plan</option>
                                        <option value="N">YES - Include Plan</option>
                                    </select>
                                    </td>
                                </tr>                                   
                                <tr>
                                    <th>
                                        Employee Only
                                    </th>
                                    <td>
                                        <span *ngIf="data.user.role=='sadmin'||data.user.role=='user'">
                                        <input 
                                        style="max-width: 200px;" 
                                        type="text" 
                                        class="form-control" 
                                        id="contribution_level_id" 
                                        name="contribution_level_id" 
                                        [(ngModel)]="data.colForm['employee_'+m.id]">
                                        </span>
                                        <span *ngIf="data.user.role=='badmin'||data.user.role=='broker'">
                                            {{ data.colForm['employee_'+m.id] }}
                                        </span>
                                    </td>
                                </tr>    
                                <tr>
                                    <th>
                                        Employee / Spouse
                                    </th>
                                    <td>
                                        <span *ngIf="data.user.role=='sadmin'||data.user.role=='user'">
                                        <input 
                                        style="max-width: 200px;" 
                                        type="text" 
                                        class="form-control" 
                                        id="contribution_level_id" 
                                        name="contribution_level_id" 
                                        [(ngModel)]="data.colForm['employeespouse_'+m.id]">
                                        </span>
                                        <span *ngIf="data.user.role=='badmin'||data.user.role=='broker'">
                                            {{ data.colForm['employeespouse_'+m.id] }}
                                        </span>
                                    </td>
                                </tr>   
                                <tr>
                                    <th>
                                        Employee / Children
                                    </th>
                                    <td>
                                        <span *ngIf="data.user.role=='sadmin'||data.user.role=='user'">
                                        <input 
                                        style="max-width: 200px;" 
                                        type="text" 
                                        class="form-control" 
                                        id="contribution_level_id" 
                                        name="contribution_level_id" 
                                        [(ngModel)]="data.colForm['employeechildren_'+m.id]">
                                        </span>
                                        <span *ngIf="data.user.role=='badmin'||data.user.role=='broker'">
                                            {{ data.colForm['employeechildren_'+m.id] }}
                                        </span>
                                    </td>
                                </tr>   
                                <tr>
                                    <th>
                                        Family
                                    </th>
                                    <td>
                                        <span *ngIf="data.user.role=='sadmin'||data.user.role=='user'">
                                        <input 
                                        style="max-width: 200px;" 
                                        type="text" 
                                        class="form-control" 
                                        id="contribution_level_id" 
                                        name="contribution_level_id" 
                                        [(ngModel)]="data.colForm['family_'+m.id]">
                                        </span>
                                        <span *ngIf="data.user.role=='badmin'||data.user.role=='broker'">
                                            {{ data.colForm['family_'+m.id] }}
                                        </span>
                                    </td>
                                </tr>   
                                <tr style="background-color: lawngreen;" *ngIf="data.colForm['message_'+m.id]!=''">
                                    <th>
                                        
                                    </th>
                                    <td style="background-color: lawngreen;">
                                        {{ data.colForm['message_'+m.id] }}
                                    </td>
                                </tr>  
                                <tr>
                                    <th>
                                        
                                    </th>
                                    <td>
                                        <button class="btn btn-primary" (click)="postCont(m.id)">Save</button>
                                    </td>
                                </tr>   
                            </tbody>
                        </table>
                      </div>
                </div>
    
            </div>
        </div>
    </div>
        </div>
</div>
</div>




</div>
