	<!-- Loading bar -->
	<fuse-loading-bar></fuse-loading-bar>
	<!-- Navigation -->
	<fuse-vertical-navigation
		class="dark bg-gray-900 print:hidden"
		[mode]="isScreenSmall ? 'over' : 'side'"
		[name]="'mainNavigation'"
		[navigation]="navigation.default"
		[opened]="!isScreenSmall">
		<!-- Navigation header hook -->
		<ng-container fuseVerticalNavigationContentHeader>
			<div class="flex items-center w-full p-4 pl-6">
				<!-- Logo -->
				<div class="flex items-center justify-center">
					<img
						class="w-8"
						src="assets/images/logo/logo.svg">
				</div>
				<!-- Components -->
				<div class="flex items-center ml-auto">
					<notifications></notifications>
					<user [showAvatar]="false"></user>
				</div>
			</div>
			<!-- User -->
			<div class="flex flex-col items-center w-full p-4">
				<div class="relative w-24 h-24">
					<img
						class="w-full h-full rounded-full"
						*ngIf="user.avatar"
						[src]="user.avatar"
						alt="User avatar">
					<mat-icon
						class="icon-size-24"
						*ngIf="!user.avatar"
						[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
				</div>
				<div class="flex flex-col items-center justify-center w-full mt-6">
					<div class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden text-center leading-normal font-medium">
						{{user.name}}
					</div>
					<div class="w-full mt-0.5 whitespace-nowrap overflow-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
						{{user.email}}
					</div>
				</div>
			</div>
		</ng-container>
		<!-- Navigation footer hook -->
		<ng-container fuseVerticalNavigationContentFooter>
			<div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12">
				<img
					class="max-w-36"
					src="assets/images/logo/logo-text-on-dark.svg">
			</div>
		</ng-container>
	</fuse-vertical-navigation>

	<div class="flex flex-col flex-auto min-w-0">
	<!--- THIS IS MOVED INSIDE THE MAIN SECTION AFTER THE FIRST LINE -->
	<div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
		<!-- Navigation toggle button -->
		<button
			mat-icon-button
			(click)="toggleNavigation('mainNavigation')">
			<mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
		</button>
		<!-- Components -->
		<div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
			<languages></languages>
			<fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
			<search [appearance]="'bar'"></search>
			<shortcuts></shortcuts>
			<messages></messages>
		</div>
	</div>
	<!--- THIS IS MOVED INSIDE THE MAIN SECTION AFTER THE FIRST LINE -->
		<!-- Header -->
		<div class="col-xl-7">
			<div style="margin-top: 10px !important; margin-left: 20px !important;">
				<a class="inline-flex items-center leading-6 text-primary hover:underline" [routerLink]="['/dashboard']"><span class="inline-flex items-center"><mat-icon role="img" class="mat-icon notranslate icon-size-5 text-current mat-icon-no-color" aria-hidden="true" data-mat-icon-type="svg" data-mat-icon-name="arrow-sm-left" data-mat-icon-namespace="heroicons_solid"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" fit="" height="100%" width="100%" preserveAspectRatio="xMidYMid meet" focusable="false">
					<path fill-rule="evenodd" d="M9.707 14.707a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 1.414L7.414 9H15a1 1 0 110 2H7.414l2.293 2.293a1 1 0 010 1.414z" clip-rule="evenodd"></path>
				</svg></mat-icon><span class="ml-1.5 font-medium leading-5">Back to Dashboard</span></span></a>
			</div>
		</div>
		<!-- Main -->
		<div class="row p-3">
	<!--    <div class="flex-auto p-6 sm:p-10"> -->
		<div class="col-xl-5">
	<!--       <div class="max-w-3xl"> -->
				<div class="prose prose-sm max-w-3xl">
					<h2>Please Confirm and Update your Personal Information</h2>
				</div>
				<form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden">
					<div class="flex flex-col gt-xs:flex-row">
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pr-3">
							<mat-label>First Name</mat-label>
							<input matInput id="org_name" name="org_name" [(ngModel)]="data.formData['first_name']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pl-3">
							<mat-label>Middle Name</mat-label>
							<input matInput id="contact_full_name" name="contact_full_name" [(ngModel)]="data.formData['middle_name']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="flex flex-col gt-xs:flex-row">
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pr-3">
							<mat-label>Last Name</mat-label>
							<input matInput id="org_name" name="email" [(ngModel)]="data.formData['last_name']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pl-3">
							<mat-label>Suffix</mat-label>
							<input matInput id="phone_mobile" name="phone_mobile" [(ngModel)]="data.formData['suffix']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="flex flex-col gt-xs:flex-row">
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pr-3">
							<mat-label>Email</mat-label>
							<input matInput id="billing_contact_name" name="billing_contact_name" [(ngModel)]="data.formData['email']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pl-3">
							<mat-label>Phone</mat-label>
							<input matInput id="phone" name="phone" [(ngModel)]="data.formData['phone']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pl-3">
							<mat-label>Marital Status</mat-label>
							<input matInput id="marital_status" name="marital_status" [(ngModel)]="data.formData['marital_status']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="flex flex-col gt-xs:flex-row">
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pr-3">
							<mat-label>Social Security Number</mat-label>
							<input matInput id="social_security_number" name="social_security_number" [(ngModel)]="data.formData['social_security_number']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
					</div>
	</form>
	</div>
	<div class="col-xl-5">
		<form class="flex flex-col mt-8 p-8 pb-4 bg-card rounded-2xl shadow overflow-hidden"> 
						<!--    <div class="flex-auto p-6 sm:p-10"> -->
                            <mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pl-3">
							<mat-label>Date of Birth</mat-label>
							<input matInput id="date_of_birth" name="date_of_birth" [(ngModel)]="data.formData['date_of_birth']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
                        <mat-form-field
                        [ngClass]="formFieldHelpers"
                        class="flex-auto gt-xs:pl-3">
                        <mat-label>Gender</mat-label>
                        <input matInput id="gender" name="gender" [(ngModel)]="data.formData['gender']">
                        <mat-icon
                            class="icon-size-5"
                            matSuffix
                            [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                    </mat-form-field>

						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pl-3">
							<mat-label>Date Hired</mat-label>
							<input matInput id="date_hired" name="date_hired" [(ngModel)]="data.formData['date_hired']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
				
					<div class="flex flex-col gt-xs:flex-row">
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pr-3">
							<mat-label>Work Role</mat-label>
							<input matInput id="admin_contact_phone" name="admin_contact_phone" [(ngModel)]="data.formData['work_role']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pl-3">
							<mat-label>Employee Status</mat-label>
							<input matInput id="admin_contact_email" name="admin_contact_email" [(ngModel)]="data.formData['employee_status']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-xs:pl-3">
							<mat-label>Annual Salary</mat-label>
							<input matInput id="admin_contact_email" name="admin_contact_email" [(ngModel)]="data.formData['annual_salary']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="flex">
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="fuse-mat-textarea flex-auto">
							<mat-label>Address</mat-label>
							<input
								matInput
								id="address" name="adddress" [(ngModel)]="data.formData['address']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="flex flex-col gt-md:flex-row">
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-md:pr-3">
							<mat-label>City</mat-label>
							<input matInput  id="city" name="city" [(ngModel)]="data.formData['city']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
						</mat-form-field>
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto gt-md:pl-3">
							<mat-label>State</mat-label>
							<input matInput  id="state" name="state" [(ngModel)]="data.formData['state']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="flex">
						<mat-form-field
							[ngClass]="formFieldHelpers"
							class="flex-auto">
							<mat-label>Postal code</mat-label>
							<input
								matInput
								maxlength="15"
								#postalCode
								id="zip" name="zip" [(ngModel)]="data.formData['zip']">
							<mat-icon
								class="icon-size-5"
								matSuffix
								[svgIcon]="'heroicons_solid:mail'"></mat-icon>
						</mat-form-field>
					</div>
					<div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
						<button [routerLink]="['/dashboard']" mat-button>
							Cancel
						</button>
						<button
							class="px-6 ml-3"
							mat-flat-button
							[color]="'primary'" (click)="postForm()">
							Save
						</button>
					</div>
			   </form> 


	</div>
	</div>
