<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>
<!-- Navigation -->
<fuse-vertical-navigation
    class="dark bg-gray-900 print:hidden"
    [mode]="isScreenSmall ? 'over' : 'side'"
    [name]="'mainNavigation'"
    [navigation]="navigation.default"
    [opened]="!isScreenSmall">
    <!-- Navigation header hook -->
    <ng-container fuseVerticalNavigationContentHeader>
        <div class="flex items-center w-full p-4 pl-6">
            <!-- Logo -->
            <div class="flex items-center justify-center">
                <img
                    class="w-8"
                    src="assets/images/logo/logo.svg">
            </div>
            <!-- Components -->
            <div class="flex items-center ml-auto">
                <notifications></notifications>
                <user [showAvatar]="false"></user>
            </div>
        </div>
        <!-- User -->
        <div class="flex flex-col items-center w-full p-4">
            <div class="relative w-24 h-24">
                <img
                    class="w-full h-full rounded-full"
                    *ngIf="user.avatar"
                    [src]="user.avatar"
                    alt="User avatar">
                <mat-icon
                    class="icon-size-24"
                    *ngIf="!user.avatar"
                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
            </div>
            <div class="flex flex-col items-center justify-center w-full mt-6">
                <div class="w-full whitespace-nowrap overflow-ellipsis overflow-hidden text-center leading-normal font-medium">
                    {{user.name}}
                </div>
                <div class="w-full mt-0.5 whitespace-nowrap overflow-ellipsis overflow-hidden text-center text-md leading-normal font-medium text-secondary">
                    {{user.email}}
                </div>
            </div>
        </div>
    </ng-container>
    <!-- Navigation footer hook -->
    <ng-container fuseVerticalNavigationContentFooter>
        <div class="flex flex-0 items-center justify-center h-16 pr-6 pl-2 mt-2 mb-4 opacity-12">
            <img
                class="max-w-36"
                src="assets/images/logo/logo-text-on-dark.svg">
        </div>
    </ng-container>
</fuse-vertical-navigation>

<div
    class="absolute inset-0 flex flex-col min-w-0 overflow-y-auto"
    cdkScrollable>
<!--- THIS IS MOVED INSIDE THE MAIN SECTION AFTER THE FIRST LINE -->
<div class="relative flex flex-0 items-center w-full h-16 px-4 md:px-6 z-49 shadow dark:shadow-none dark:border-b bg-card dark:bg-transparent print:hidden">
    <!-- Navigation toggle button -->
    <button
        mat-icon-button
        (click)="toggleNavigation('mainNavigation')">
        <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
    </button>
    <!-- Components -->
    <div class="flex items-center pl-2 ml-auto space-x-0.5 sm:space-x-2">
        <languages></languages>
        <fuse-fullscreen class="hidden md:block"></fuse-fullscreen>
        <search [appearance]="'bar'"></search>
        <shortcuts></shortcuts>
        <messages></messages>
    </div>
</div>
    <!-- Header -->
    <div class="relative flex-0 py-8 px-4 sm:p-16 overflow-hidden bg-gray-800 dark"  style="padding-bottom: 20px !important; padding-top: 20px !important;">
        <!-- Background - @formatter:off -->
        <!-- Rings -->
        <svg class="absolute inset-0 pointer-events-none"
             viewBox="0 0 960 540" width="100%" height="100%" preserveAspectRatio="xMidYMax slice" xmlns="http://www.w3.org/2000/svg">
            <g class="text-gray-700 opacity-25" fill="none" stroke="currentColor" stroke-width="100">
                <circle r="234" cx="196" cy="23"></circle>
                <circle r="234" cx="790" cy="491"></circle>
            </g>
        </svg>
        <!-- @formatter:on -->
        <div class="z-10 relative flex flex-col items-center" style="margin-top: 40px;">
            <h2 class="text-xl font-semibold">Company Dashboard</h2>
            <div class="mt-1 text-4xl sm:text-7xl font-extrabold tracking-tight leading-tight text-center">
                {{ data.company_name }}
            </div>
            <div class="max-w-2xl mt-6 sm:text-2xl text-center tracking-tight text-secondary">
                {{ data.website }}
            </div>
        </div>
    </div>

    <!-- Main -->

<div class="container-fluid p-1" style="margin-top: 10px;">
    <div class="row">
        <div class="col-xl-2">

        </div>
        <div class="col-xl-7">
            <div style="margin-top: 10px !important;">
                 <button *ngIf="data.user.role=='sadmin'" style="margin-left:20px; margin-bottom: 20px;" [routerLink]="['/add-invoice',data.id]" class="btn btn-primary">Create Invoice</button>
            </div>
        </div>
    </div>
    <div class="row">    <!-- CONTAINER ROW -->
        <div class="col-xl-2"> &nbsp; </div>
        <div class="col-xl-7">   <!-- MIDDLE SECTION  -->
        <div class="row">
              <div class="col-md-12 col-xl-6">
                   <div class="card card-body">  
                      <h2 style="font-size: 24px;"><b>{{ data.company_name }}</b></h2>          
<div class="table-responsive">
    <table class="table table-responsive">
    <thead>
        <tr>
            <th>Company ID:</th>
            <td>{{ data.id }}</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Company Type:</th>
            <td>{{ data.company_type }}</td>
        </tr>
        <tr>
            <th>Employee Count:</th>
            <td>{{ data.employee_count }}</td>
        </tr>
        <tr>
            <th>Organization Name:</th>
            <td>{{ data.org_name }}</td>
        </tr>
        <tr>
            <th>Contact Name:</th>
            <td>{{ data.first_name }} {{ data.last_name }}</td>
        </tr>
        <tr>
            <th>Phone:</th>
            <td>{{ data.phone_mobile }}</td>
        </tr>
        <tr>
            <th>Website:</th>
            <td>{{ data.website }}</td>
        </tr>
        <tr>
            <th>Address:</th>
            <td>{{ data.address }}</td>
        </tr>
        <tr>
            <th>City:</th>
            <td>{{ data.city }}</td>
        </tr>
        <tr>
            <th>State:</th>
            <td>{{ data.state }}</td>
        </tr>
        <tr>
            <th>Zip:</th>
            <td>{{ data.zip }}</td>
        </tr>
        <tr>
            <th>Status:</th>
            <td>{{ data.status }}</td>
        </tr>
        <tr>
            <th>Description:</th>
            <td>{{ data.dsc }}</td>
        </tr>
        <tr>
            <th></th>
            <td><button class="btn btn-warning" [routerLink]="['/edit-company',data.id]">Edit Company</button></td>
        </tr>
    </tbody>
</table>
</div>
            </div>
        </div>
        <div class="col-md-12 col-xl-6">
        <div class="card card-body">            
            <div class="row">
                <h2 style="font-size: 24px;"><b>Documents</b></h2>
            <div class="table table-responsive" *ngFor="let m of data.docs">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>{{ m.doc_title }}</th>
                    </tr>        
                </thead>
                <tbody>
                    <tr>
                        <th>Timestamp</th>
                        <td>{{ m.create_timestamp }}</td>
                    </tr>   
                    <tr>
                        <th>Note</th>
                        <td>{{ m.dsc }}</td>
                    </tr> 
                    <tr>
                        <th></th>
                        <th><button class="btn btn-warning" (click)="showDoc(m.key)">View</button></th>
                    </tr> 
                </tbody>
            </div>
            </div>
            <div *ngIf="uploading=='N'" class="row">
                <div class="col-12">
                    <button class="btn btn-primary" (click)="showUpload()">Upload Documents</button>
                </div>
            </div>
            <div *ngIf="uploading=='Y'"  class="card card-body">
                <h2 style="font-size: 24px;"><b>Select File to Upload</b></h2>
                <div class="row">
                    <div class="col-xl-4"> &nbsp; </div>            
                </div>
                <div class="row">
                    <div class="col-xl-4">Document Type</div>
                    <div class="col-xl-8">
                    <select class="form-control" [(ngModel)]="doc_title" name="doc_title" id="doc_title">
                        <option class="form-control" value="Employee Census">Employee Census</option>
                        <option class="form-control" value="Current Plan">Current Plan</option>
                        <option class="form-control" value="Current Invoice">Current Invoice</option>
                        <option class="form-control" value="Renewal">Renewal</option>  
                        <option class="form-control" value="IHQ Report">IHQ Report</option>
                        <option class="form-control" value="Other">Other</option>                      
                    </select> 
                </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">Note/Description</div>
                    <div class="col-xl-8">
                    <input type="text" class="form-control" [(ngModel)]="dsc" name="dsc" id="dsc">
                </div>
                </div>
                <div class="row">
                    <div class="col-xl-4"> &nbsp; </div>            
                </div>
                <div class="mc">
                    <input [formControl]="file" (change)="fileChange(index,$event)" type="file" placeholder="File">
                    <br>
                    <button style="margin-top:20px" (click)="showUpload()" mat-raised-button color="default">
                        Cancel
                    </button>
                    <button style="margin-top:20px; margin-left:20px;" (click)="uploadFile()" mat-raised-button color="primary">
                        Upload
                    </button>
                </div>
                </div>
        
        </div>
</div>        
<div class="col-md-12 col-xl-6" *ngIf="data.quotes.length>0">
<ng-container *ngIf="data.quotes.length>0">
<div *ngFor="let n of data.quotes" class="card card-body">
    <h2 style="font-size: 24px;"><b>Quotes</b></h2>
            <div class="table-responsive">
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th style="width: 200px !important">Quote ID</th>
                            <td>{{ n.quote_key }}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr><th style="width: 100px !important">ID:</th><td style="max-width: 100px">{{ n.id }}</td>
                        </tr>
                        <tr><th style="width: 200px !important">Name:</th><td style="max-width: 100px">{{ n.quote_name }}</td></tr>
                        <tr><th style="width: 200px !important">Created:</th><td style="max-width: 100px">{{ n.create_timestamp }}</td></tr>
                        <tr><th style="width: 200px !important">Requested By:</th><td style="max-width: 100px">{{ n.requested_by }}</td></tr>
                        <tr><th style="width: 200px !important">Employee Count:</th><td style="max-width: 100px">{{ n.employee_count }}</td></tr>
                        <tr><th style="width: 200px !important">Medical:</th><td style="max-width: 100px">{{ n.medical }}</td></tr>
                        <tr><th style="width: 200px !important">Dental:</th><td style="max-width: 100px">{{ n.dental }}</td></tr>
                        <tr><th style="width: 200px !important">Vision:</th><td style="max-width: 100px">{{ n.vision }}</td></tr>
                        <tr><th style="width: 200px !important">Contact Name:</th><td style="max-width: 100px">{{ n.contact_name }}</td></tr>
                        <tr><th style="width: 200px !important">Contact Phone:</th><td style="max-width: 100px">{{ n.contact_phone }}</td></tr>
                        <tr><th style="width: 200px !important">Contact Email:</th><td style="max-width: 100px">{{ n.contact_email }}</td></tr>
                        <tr><th style="width: 200px !important">Expires:</th><td style="max-width: 100px">{{ n.date_expires }}</td></tr>
                        <tr><th style="width: 200px !important">Status:</th><td style="max-width: 100px">{{ n.status }}</td></tr>
                        <tr><th style="width: 200px !important">Notes:</th><td style="max-width: 100px">{{ n.notes }}</td></tr>
                        <tr><th style="width: 200px !important"></th><td><button [routerLink]="['/quote-request-dashboard',n.id]" 
                            class="btn btn-warning">View / Edit</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="card card-body">
            </div>
</div>
</ng-container>
</div>
<div class="col-md-12 col-xl-6">
    <div class="card card-body"  *ngIf="data.documents.length>0">
        <h2 style="font-size: 24px;"><b>Documents</b></h2>
        <div class="table-responsive">
        <table class="table table-responsive">
        <thead>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>        
        </thead>
        <tbody>
            <tr *ngFor="let m of data.documents">
                <td>
                    {{ m.create_timestamp }}
                </td>
                <td>
                    {{ m.doc_name }}
                </td>
                <td>
                    {{ m.type }}
                </td>
                <th>
                    <button (click)="editLevel(m.id,m.class_level,m.applicable_plan,m.coverage_level,m.value,m.type)" class="btn btn-primary">Edit</button>
                </th>
            </tr>
                    </tbody>
                </table>
    </div> <!-- TABLE RESPONSIVE -->
    <div *ngIf="uploading=='N'" class="row">
        <div class="col-12">
            <button class="btn btn-primary" (click)="showUpload()">Upload Documents</button>
 <!--          <button class="btn btn-danger" (click)="sendTestEmail()">Send Test Email</button>
            <a href="https://myna-docs.com/show_pdf.php" target="_new"><button class="btn btn-danger">Send Test Email</button></a> -->
        </div>
    </div>  <!-- UPLOAD BUTTON ROW -->


    <div *ngIf="uploading=='Y'"  class="card card-body">
        <h2 style="font-size: 24px;"><b>Select File to Upload</b></h2>
        <div class="mc">
            <input [formControl]="file" (change)="fileChange(index,$event)" type="file" placeholder="File">
            <br>
            <button style="margin-top:20px" (click)="uploadFile()" mat-raised-button color="primary">
                Upload
            </button>
        </div>
    </div>  
    </div>  
        <div class="card card-body" >
            <h2 style="font-size: 24px;"><b>Invoices</b></h2>

            <div class="table-responsive">
            <table class="table table-responsive">
            <thead>
                <tr>
                    <th>Invoice</th>
                    <th>Month</th>
                    <th>Year</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th> &nbsp; </th>
                </tr>        
            </thead>
            <tbody>
                <tr *ngFor="let m of data.invoices">
                    <td>
                        {{ m.invoice_no }}
                    </td>
                    <td>
                        {{ m.month }}
                    </td>
                    <td>
                        {{ m.year }}
                    </td>
                    <td>
                        {{ m.grand_total }}
                    </td>
                    <td>
                        {{ m.status }}
                    </td>
                    <th>
                        <button (click)="editInvoice(m.id)" class="btn btn-primary">View/Edit</button>
                    </th>
                </tr>
                        </tbody>
                    </table>
        </div> 
        </div>  
    </div>
    </div> <!-- ROW -->
    </div>
<div class="col-xl-3">
        <div class="card card-body">            
            <div class="row">
                <h2 style="font-size: 24px;"><b>Plans</b></h2>
            <div class="table table-responsive" *ngFor="let m of data.plans">
                <thead style="background-color:lightcyan;">
                    <tr>
                        <th>Plan Name</th>
                        <th>{{ m.plan_name }}</th>
                    </tr>        
                </thead>
                <tbody>
                    <tr>
                        <th>Employee</th>
                        <td>{{ m.ee_price }}</td>
                    </tr>   
                    <tr>
                        <th>Employee & Spouse</th>
                        <td>{{ m.ees_price }}</td>
                    </tr> 
                    <tr>
                        <th>Employee & Children</th>
                        <td>{{ m.eec_price }}</td>
                    </tr> 
                    <tr>
                        <th>Full Family</th>
                        <td>{{ m.fam_price }}</td>
                    </tr> 
                    <tr>
                        <th></th>
                        <th><button class="btn btn-warning" (click)="showDoc(m.key)">View</button></th>
                    </tr> 
                </tbody>
            </div>
            </div>
        </div>
</div>


    </div>
<div class="row">
        <div class="col-xl-2">
               &nbsp;
        </div>
        <div class="col-md-12 col-xl-5">
            <div class="card card-body" style="margin-top:20px;">
                <div class="table-responsive">
                    <h2 style="font-size: 24px;"><b>Census - Last Invoice</b></h2>
                <div class="col-lg-6 py-2">
                    Search: <input style="max-width:320px;" class="form-control" type="text" id="term" name="term" [(ngModel)]="term"> 
                </div>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                Plan
                            </th>
                            <th>
                                Election
                            </th>
                            <th>
                                Price
                            </th>
                            <th>            
                            </th>
                        </tr>
                    </thead>
                            <tbody>
            <tr *ngFor="let m of data.census | filter: term ">
                <td>
                    {{ m.id }}
                </td>
                <td>
                    {{ m.last_name }}, {{ m.first_name }}
                </td>
                <td>
                    {{ m.plan }}
                </td>
                <td>
                    {{ m.plan_election }}
                </td>
                <td>
                    {{ m.price }}
                </td>
                <td>
                </td>
                <td>
                    <button  *ngIf="data.user['role']=='sadmin'" [routerLink]="['/employee-dashboard',m.id]" class="btn btn-warning">Dashboard</button>
                </td>
            </tr>
        </tbody>
                </table>
                </div> <!-- table responsive -->
                </div> <!-- Card body -->
                </div> <!-- Col -->
                <div class="col-md-12 col-xl-5">
                    <div class="card card-body" style="margin-top:20px;">
                        <div class="table-responsive">
<h2 style="font-size:24px;"><b>Terminations</b></h2>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                Plan
                            </th>
                            <th>
                                Election
                            </th>
                            <th>
                                Price
                            </th>
                            <th>            
                            </th>
                        </tr>
                    </thead>
                            <tbody>
            <tr *ngFor="let m of data.terms | filter: term ">
                <td>
                    {{ m.id }}
                </td>
                <td>
                    {{ m.last_name }}, {{ m.first_name }}
                </td>
                <td>
                    {{ m.plan }}
                </td>
                <td>
                    {{ m.plan_election }}
                </td>
                <td>
                    {{ m.price }}
                </td>
                <td>
                </td>
                <td>
                    <button  *ngIf="data.user['role']=='sadmin'" [routerLink]="['/employee-dashboard',m.employee_id]" class="btn btn-warning">Dashboard</button>
                </td>
            </tr>
        </tbody>
                </table>
</div>
</div>
</div>
</div>

<div class="row">
    <div class="col-xl-2"></div>
<div class="col-xl-5">
    <div class="card card-body">
                        <h2 style="font-size:24px;"><b>Current APA</b></h2>
                <table class="table table-responsive">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                Employee Name
                            </th>
                            <th>
                                Plan
                            </th>
                            <th>
                                Election
                            </th>
                            <th>
                                Price
                            </th>
                            <th>            
                            </th>
                        </tr>
                    </thead>
                            <tbody>
            <tr *ngFor="let m of data.apa | filter: term " [ngStyle]="{'background-color':m.termed === 'Y' ? '#FCE5EB' : '#FFFFFF' }">
                <td>
                    {{ m.id }}
                </td>
                <td>
                    {{ m.last_name }}, {{ m.first_name }}
                </td>
                <td>
                    {{ m.plan }}
                </td>
                <td>
                    {{ m.coverage_level }}
                </td>
                <td>
                    {{ m.price }}
                </td>
                <td>
                </td>
                <td>
                    <button  *ngIf="data.user['role']=='sadmin'" [routerLink]="['/employee-dashboard',m.employee_id]" class="btn btn-warning">Dashboard</button>
                </td>
            </tr>
            <tr>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <th>
                    Total:
                </th>
                <th>
                    ${{ data.total_revenue }}
                </th>
                <th>
                </th>
            </tr>
        </tbody>
                </table>

                <div *ngIf="adding=='Y'" style="background-color: lightcyan;">
                    <h2 style="font-size: 18px;">Add/Edit Employee</h2>
                    <form>
                        <div class="row p-5">
                            <div class="col-xl-3">
                            <label>First Name</label>
                            <div class="form-control">
                                <input  type="text" id="first_name" name="first_name" [(ngModel)]="data.employeeData['first_name']">
                            </div>
                            </div>
                            <div class="col-xl-3">
                                <label>Middle Name</label>
                                <div class="form-control">
                                    <input  type="text" id="middle_name" name="middle_name" [(ngModel)]="data.employeeData['middle_name']">
                                </div>
                            </div>
                            <div class="col-xl-3">
                                    <label>Last Name</label>
                                    <div class="form-control">
                                        <input  type="text" id="last_name" name="last_name" [(ngModel)]="data.employeeData['last_name']">
                                    </div>
                            </div>
                            <div class="col-xl-3">
                                <label>Suffix</label>
                                <div class="form-control">
                                    <input  type="text" id="suffix" name="suffix" [(ngModel)]="data.employeeData['suffix']">
                                </div>
                        </div>
                        </div>
                        <div class="row  p-5">
                            <div class="col-xl-3">
                                <label>Email</label>
                                <div class="form-control">
                                    <input  type="text" id="email" name="email" [(ngModel)]="data.employeeData['email']">
                                </div>
                        </div>
                        <div class="col-xl-3">
                            <label>Mobile Phone</label>
                            <div class="form-control">
                                <input  type="text" id="phone_mobile" name="phone_mobile" [(ngModel)]="data.employeeData['phone_mobile']">
                            </div>
                        </div>
                        <div class="col-xl-3">
                            <label>Date of Birth (MM/DD/YYYY)</label>
                            <div class="form-control">
                                <input  type="text" id="date_of_birth" name="date_of_birth" [(ngModel)]="data.employeeData['date_of_birth']">
                            </div>
                    </div>
                    <div class="col-xl-3">
                        <label>Social Security Number</label>
                        <div class="form-control">
                            <input  type="text" id="social_security_number" name="social_security_number" [(ngModel)]="data.employeeData['social_security_number']">
                        </div>
                </div>
                
                        </div>
                <div class="row  p-5">
                    <div class="col-xl-3">
                        <label>Gender</label>
                        <div class="form-control">
                            <select id="gender" name="gender" [(ngModel)]="data.employeeData['gender']">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>
                                <option value="Non-binary">Non-binary</option>
                           </select>
                        </div>
                    </div>
                        <div class="col-xl-3  p-5">
                    
                            <button mat-button 
                            [color]="'danger'"
                            (click)="deleteForm()">
                                Delete
                            </button>
                            <button mat-button (click)="addEmployee()">
                                Cancel
                            </button>
                            <button
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'primary'" (click)="postEmployee()">
                                Save
                            </button>
                   
                        </div>
                        </div>
                    </form>
                </div>
                <button  *ngIf="adding=='N'" class="btn btn-primary" (click)="addEmployee()">Add Employee</button>
            </div>
            </div>
</div>   <!-- EMPLOYEE ROW -->
</div>   <!-- CONTAINER -->
</div>
